<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sensehat Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../sensehat_dashboard/assets/css/main.css">
</head>
<body>
	<div class="header">
		<div class="container">
			<h1>Sensehat Dashboard</h1>
		</div>
	</div>
	<div class="container">
		<form>
			<div class="form-group">
			<label for="color">Kleur</label>
			<div class="form-group-flex">
				<input type="text" class="form-control jscolor" id="colorPicker" value="#000">
				<button type="submit" class="btn btn-primary" id="btnChange">Submit</button>
			</div>
			</div>
			<div class="form-check">
				<input type="checkbox" class="form-check-input " id="toggleMatrix">
				<label class="form-check-label" for="toggleMatrix">Matrix on/off</label>
			</div>
		</form>
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-firestore.js"></script>
	<script src="../../sensehat_dashboard/config/firebase.js"></script>
	<script src="../../sensehat_dashboard/assets/js/main.js"></script>
</body>
</html>